@charset "UTF-8";
body{
    text-align: center;
    background-image: url("../imagens/Imagem para o fundo do site.jpg");
    background-repeat: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
img{
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.519);
    border-width: 2px;
    width: 500px;
    height: 500px;

}